@page "/"
@using System.Linq;
@using TrabajoCalculadoraSubnetic.Logica;

<html>
  <head>
    <link rel="stylesheet" href="~/css/app.css">
    <title>Calculadora Subnetic</title>
  </head>
  <body>
    <h3>Calculadora Subnetic</h3>

    <table>
        <tbody>
            <tr>
                <td>IP Adress</td>
                <td colspan="2"><input id="x2" type="text" @bind="@IPAdress"></td>
            </tr>
            <tr>
                <td>Major Network</td>
                <td colspan="2"><input id="x2" type="text" @bind="@MajorNetwork"></td>
            </tr>
            <tr>
                <td class="center"rowspan="@SubnetTitle">Subnets</td>
                <td class="nob center">Name</td>
                <td class="nob center">Size</td>
            </tr>
                @for (int i = 0; i < NumSubnets; i++)
                {
                <tr>
                    <td class="nob"><input type="text" @bind="Subnets[i].Name"></td>
                    <td class="nob"><input type="text" @bind="Subnets[i].Size"></td>
                </tr>
                }
            <tr>

                <td class="nob right">Numbers of subnets:</td>
                <td class="nob">
                    <input id="x" type="text" @bind="NumSubnets"/>
                    <button type="button" @onclick="ChangeNumbers">Change</button>
                </td>
            </tr>
            <tr>
                <td colspan="3"><button id="boton" type="button" @onclick="CalculateSubnets">Submit</button></td>
            </tr>
        </tbody>
    </table>
  </body>
</html>

@*@if (Subnets != null)
    {
        <div>
            <h4>Result:</h4>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Subnet Mask</th>
                        <th>Address Range</th>
                        <th>Broadcast Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subnet in Subnets)
                    {
                        <tr>
                            <td>@subnet.Name</td>
                            <td>@subnet.Size</td>
                            <td>@subnet.SubnetMask</td>
                            <td>@subnet.AddressRange</td>
                            <td>@subnet.BroadcastAddress</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }*@

@code {
    private string IPAdress;
    private string MajorNetwork;
    private int _numSubnets = 3;
    public int NumSubnets
    {
        get => _numSubnets;
        set
        {
            _numSubnets = value;
            SubnetTitle = 2 + _numSubnets;
            Subnets = Enumerable.Range(0, _numSubnets).Select(_ => new Subnet()).ToList();
        }
    }

    private int SubnetTitle = 5;
    private List<Subnet> Subnets;

    protected override void OnInitialized()
    {
        Subnets = Enumerable.Range(0, _numSubnets).Select(_ => new Subnet()).ToList();
    }


    private void ChangeNumbers()
    {
        SubnetTitle = NumSubnets + 2;

        Subnets = new List<Subnet>();

        for (int i = 0; i < NumSubnets; i++)
        {
            Subnets.Add(new Subnet());
        }
    }

    private void CalculateSubnets()
    {
        // De momento nada
    }
}
